server:
  port: 8082
spring:
  application:
    name: userservice #服务名称
  cloud:
    nacos:
      server-addr: 175.178.85.36:8848 #nacos服务地址
  datasource: #配置数据库
    druid:
      url: jdbc:mysql://175.178.85.36:3306/zhibo
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: root
      password: root
  #配置redis
  redis:
    database: 0 #使用0号数据库
    host: 175.178.85.36
    port: 6379
    jedis:
      pool:
        max-idle: 4 #最大空闲连接数
        max-active: 8 #最大连接数
        min-idle: 0 #最小空闲连接数
        max-wait: 1ms #数据库最大阻塞时间
#配置mybatisPlus
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true #启用驼峰合下划线之间的映射
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl #控制台输出sql语句
  global-config: #数据库表全局id生成策略
    db-config:
      id-type: assign_id #使用雪花算法生成id

